body{
    background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Ymx1ZSUyMGFuZCUyMHB1cnBsZSUyMGdyYWRpZW50fGVufDB8fDB8fHww");
    background-size: cover;

}
*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div{
    display: inline;  
    color: white;  
}

nav ul{
    list-style: none;  
    display: inline;
}

nav ul li{
    float: left;
    margin-left: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav button{
    border: 1px solid white;
    margin-top: -4px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
}

.flex-container{
    height: 90vh;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.article{
    display: inline-block;
    width: 380px;
}

.article h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 5px; 
    font-size: 55px;
}

.article p{
    margin-top: 8px;
    color: white;
}


.article button{
    border-radius: 20px;
    color: white;
    background-color: rgb(49, 205, 75);
    padding: 9px 20px 9px 20px;
    font-size: 11px;
    border: none;
}

.form{
    background-color: white;
    padding: 30px 30px 35px 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form h2{
    color: rgba(0, 0, 0, 0.79);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 100;
    margin: 5px;
    margin-bottom: 10px;
}

input, select{
    width: 100%;
    border: none;
    background-color: rgba(235, 234, 234, 0.548);
    padding: 8px;
    margin-bottom: 10px;
}
input{
    width: 95%;
}

input[type="submit"]{
    width: 100%;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(17, 96, 243, 0.842);
    color: white;
}
